.calculator {
    height: 45vh;
    width: 30vh;
    border-radius: 5px;
    overflow: hidden;
    align-self: center;
    border:  solid 1px #002F40 ;
    box-shadow: 0px 4px 16px #002F40cc, 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 7.5vh 7.5vh 7.5vh 7.5vh 7.5vh
}

