.display {
    grid-column: span 4;
    background-color: rgba(0, 48, 59, 0.753);
    color: azure;
    font-size: 2.5vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2vh;
}