.footer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    position: fixed;
    gap: 1%;
    border-top: 0.25em solid;
    border-image: linear-gradient(60deg, #fca425, #ee5428) 1 1;
    color: #F4F4F4; 
    height: 7vh;
    width: 100%; 
    background-color: #002F40;
    padding: 1%;

}

.text-footer {
    font-family:'Open Sans', 'Times New Roman', Times, serif;;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 300;
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 2.5px;
    font-size: 1.5vh;
}

.logo {
    height: 2.6vh;
    align-self: center;
}

