.header {
    display: flex;
    gap: 1%;
    border-bottom: 0.23em solid;
    border-image: linear-gradient(60deg, #ee5428, #fca425) 1 1;
    color: #F4F4F4; 
    height: 7.5vh;
    width: 100vw; 
    background-color: #002F40;
    padding: 1%;
    align-items: center;
    justify-content: center;
    font-size: 2.1vh;
    font-weight: 400;
}

.calc-logo {
    height: 4.4vh;
}